body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 90vh;
    background-color: #091921;
    color: #9c9b9b;
    font-family: 'Barlow', sans-serif;
}

/* Analog Clock */
.analog-clock {
    width: 400px;
    height: 400px;
    background: url(clock.png);
    border: 4px solid #091921;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.analog-clock:before {
    content: ' ';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
}

.analog-clock .hour,
.analog-clock .minutes,
.analog-clock .seconds {
    position: absolute;
}

.hour,
.hr {
    width: 160px;
    height: 160px;
}

.minutes,
.min {
    width: 200px;
    height: 200px;
}

.seconds,
.sec {
    width: 230px;
    height: 230px;
}

.hr,
.min,
.sec {
    display: flex;
    justify-content: center;
    position: absolute;
}

.hr:before {
    content: ' ';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    border-radius: 8px 8px 0 0;
}

.min:before {
    content: ' ';
    position: absolute;
    width: 4px;
    height: 100px;
    background: #fff;
    border-radius: 8px 8px 0 0;
    z-index: 10;
}

.sec:before {
    content: ' ';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    border-radius: 8px 8px 0 0;
}

.present-day {
    font-size: 1.5rem;
    display: block;
    position: absolute;
}

.date {
    margin-top: 48px;
    position: absolute;
    font-size: 1rem;
}

/* Digital Clock */
.display-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9c9b9b;
    padding: 10px 30px;
    border: 4px solid #091921;
    border-radius: 8px;
    background-color: #091921;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
        inset 0 -15px 15px rgba(255, 255, 255, 0.05),
        0 15px 15px rgba(0, 0, 0, 0.3),
        inset 0 15px 15px rgba(0, 0, 0, 0.3);
    font-size: 2.5rem;
    /* width: 250px; */
}

@media (max-width: 768px) {
    .display-clock {
        font-size: 2rem;
    }
   
}